textarea {
    resize: none; 
}

body {
    background-color: #f0f5f9;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #2196f3;
    color: #ffffff;
    z-index: 999;
}

.navbar-brand span {
    font-weight: bold;
}

.nav-link:hover {
    color: #f0f5f9;
}
header {
    padding-top: 20px;
}
.alert-primary {
    background-color: #2196f3;
    color: #ffffff;
    border-color: #ffffff;
}
main {
    padding: 50px 20px;
}
footer {
    color: #ffffff;
    padding: 10px 0;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main-register {
    border: 2px solid #82a7dd;
    border-radius: 1rem;
    padding: 1.5rem 2.5rem;
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.main-register form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.register-user-types {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.home-follow {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: fit-content;
    background-color: #e0e6eb;
    border-radius: 12px;
    align-items: center;
}

.image-container {
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}
.home-follow-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.home-follow-btn {
    background-color: #2196f3;
    color: #f0f5f9;
    border-radius: 20px;
    height: min-content;
    margin: auto 0.5rem;
}

.trainer-card {
    display: flex;
}

.main-follow-handles {
    width: 10rem;
}

#show-more-btn {
    border: none;
    background: none;
}

.account-inp {
    border: 5px solid; 
    justify-content: space-around;
    padding: 10px;
    width: 15rem;
    margin: 0 auto;
}

.acc-form {
    display: flex;
}

.home-main {
    width: 60%;
    min-height: 80vh;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
}

#main-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trainer-post-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    background: #fff;
    padding: 0.65rem;
    border-radius: 0.75rem;
    border: 1px solid lightgray;
}
.trainer-post-header h5 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.25rem;
}

#trainer-post-btn {
    background: #2196f3;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    height: max-content;
    font-size: small;
    padding: 0.5rem 2rem;
}

.card-img {
    width: 5rem;
    height: 5rem;
}

.home-post-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.home-trainer-post {
    display: flex;
    text-align: left;
    background-color: #fff;
    width: 100%; 
    border-radius: 0.75rem;
    padding: 0.5rem;
}

#postForm {
    display: flex;
    gap: 1rem;
    position: relative;
}

#postForm textarea {
    width: 100%;
    border: 0;
    border-radius: 1rem;
    padding-right: 6rem;
}


.manage-post {
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.mng-post-icon {
    display: flex;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

#add-funds-amount {
    width: 10rem;
    margin: 0.5rem 0;
}

.exercise {
    padding: 0.5rem;
    max-height: 20rem;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #89a2b9 #f0f0f0;
    scrollbar-width: thin;
}

.exercise::-webkit-scrollbar {
    width: 10px;
}

.exercise::-webkit-scrollbar-track {
    background: #f0f0f0; 
}

.exercise::-webkit-scrollbar-thumb {
    background-color: #89a2b9; 
    border-radius: 5px;
    border: 2px solid #f0f0f0;
}

#exercise_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.saved-exercises-showcase {
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.post-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#exercise_muscle_type {
    margin: 1rem auto;
}

#trainig-plan-tracking {
    width: max-content;
    margin: 1rem auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#sell-routine-btn {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
}
.shop-routine-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 5rem;
    gap: 1rem;
}

.routine-card {
    display: flex;
    padding: 0.7rem;
    border-radius: 12px;
    background-color: rgba(84, 92, 138, 0.151);
    width: 14rem;
    justify-content: space-between;
}

.r-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 30rem;
    overflow: hidden;
}

.purchased-routines-card {
   width: 15rem;
   margin: 0 auto;
}

.image-div {
    width: 15rem;
}

.routine-trainer-picture {
    width: 10rem;
    height: 12rem;
}

.routine-account-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 5rem auto 0;
    gap: 1rem;
    justify-content: space-between;
    width: 80%;
}


.content-div {
    overflow-y: auto;
    flex: 1;
}

.btn-container {
    margin-top: auto; 
}

@media(max-width: 1000px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-main {
        width: 80%;
    }
}