* {
    box-sizing: border-box;
}

body {
    background-color: #f0f5f9;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #2196f3;
    color: #ffffff;
    z-index: 999;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display:block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 5px
}

.navbar-brand span {
    font-weight: bold;
}
.navbar-toggler-icon {
    background-color: #ffffff;
}
.nav-link {
    color: #ffffff;
}
.nav-link:hover {
    color: #f0f5f9;
}
header {
    padding-top: 20px;
}
.alert-primary {
    background-color: #2196f3;
    color: #ffffff;
    border-color: #ffffff;
}
main {
    padding: 50px 20px;
}
footer {
    color: #ffffff;
    padding: 10px 0;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.home-follow {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.image-container {
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}
.home-follow-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.home-follow-btn {
    background-color: #2196f3;
    color: #f0f5f9;
    border-radius: 20px;
    height: min-content;
    margin: auto 0.5rem;
}

.trainer-card {
    display: flex;
}

.main-follow-handles {
    width: 10rem;
}

#show-more-btn {
    border: none;
    background: none;
}

.account-inp {
    border: 5px solid; 
    justify-content: space-around;
    padding: 10px;
    width: 15rem;
    margin: 0 auto;
}

@media(max-width:768px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #697880;
        width: 100%;
        transition: 0.3s;
        text-align: center;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}