{% extends "layout.html" %}
{% block title %}
    My account
{% endblock %}
{% block main %}    
    
        <div class="mb-3">
            {% if not fname %}

                <img class="profile-picture" src="{{ url_for('static', filename='default.jpg' ) }}" alt="image">
                <h3>{{ username }}</h3>

                {% if session["user_type"] == "trainer" %}
                    <p>You won't appear in client's homepage if you don't set a full name and a profile picture!</p>
                {% endif %}
                <div class="mb-3">
                    <form method="post" action="/account" enctype="multipart/form-data">
                        <div class="mb-3 account-inp">
                            <input type="text" name="full_name" placeholder="Full Name" autocomplete="off" autofocus><br>
                            <input type="file" name="profile_picture"><br>
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary">
                    </form>
                </div>
                
            {% elif fname %}
                <h3>{{ fname.title() }}</h3>
                <img class="profile-picture" src="{{ url_for('static', filename=pfp ) }}" alt="image">
                <h3>{{ username }}</h3>
                <div class="mb-3">
                    <form method="post" action="/account" enctype="multipart/form-data">
                        <div class="mb-3 account-inp">
                            <input type="text" name="full_name" placeholder="Update Full Name" autocomplete="off" autofocus><br>
                            <input type="file" name="profile_picture"><br>
                        </div>
                        <input type="submit" value="Update profile" class="btn btn-primary">
                    </form>
                </div>
            {% endif %}

            {% if session["user_type"] == "client" %}
            
                {% if exercises %}
                    <h4>Saved exercises:</h4>
                        <div class="saved-exercises-showcase">

                            {% for exercise in exercises %}
                                <div class="card" id="{{ exercise.id }}">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <h5 class="card-title">{{ exercise.name }}</h5>
                                            <p class="card-text">{{ exercise.instructions }}</p>

                                            <span>
                                                <button onclick="setCompleted('{{ exercise.id }}')" class="btn btn-primary">Mark as completed</button>
                                                <button onclick="removeExercise('{{ exercise.id }}')" class="btn btn-danger">Remove</button>
                                            </span>
                                            
                                    </div>
                                </div>
                            {% endfor %}
                            
                        </div>
                {% endif %}

                {% if routines %}
                <div class="routine-account-showcase">

                    {% for routine in routines %}
                        <div class="purchased-routines-card" id="{{ routine.routine_id }}">
                            <h4>{{ routine.name }}</h4>
                            <div class="image-div">
                                <img class="routine-trainer-picture" src="{{ url_for('static', filename=routine.profile_picture ) }}" alt="image">
                            </div>
                            <h5>{{ routine.full_name }}</h5>
                            <div class="r-card-content">
                                <p>{{ routine.exercises|safe }}</p>
                                <button onclick="removeRoutine('{{routine.routine_id}}')">Remove</button>
                            </div>
                            
                        </div>
                    {% endfor %}

                </div>
                {% endif %}
                
            {% endif %}
        </div>
    
{% endblock %}