{% extends "layout.html" %}

{% block title %}
    My account
{% endblock %}

{% block main %}    
    
        <div class="mb-3">
            {% if not fname %}
                
                <img class="profile-picture" src="{{ url_for('static', filename='default.jpg' ) }}" alt="image">
                <h3>{{ username }}</h3>
                {% if session["user_type"] == "trainer" %}
                    <p>You won't appear in client's homepage if you don't set a full name and a profile picture!</p>
                {% endif %}
                <div class="mb-3">
                    <form method="post" action="/account" enctype="multipart/form-data">
                        <div class="mb-3 account-inp">
                            <input type="text" name="full_name" placeholder="Full Name" autocomplete="off" autofocus><br>
                            <input type="file" name="profile_picture"><br>
                        </div>
                        <input type="submit" value="Save">
                    </form>
                </div>
                
            {% elif fname %}

                <h3>{{ fname.title() }}</h3>
                <img class="profile-picture" src="{{ url_for('static', filename=pfp ) }}" alt="image">
                <h3>{{ username }}</h3>

                <div class="mb-3">
                    <form method="post" action="/account" enctype="multipart/form-data">
                        <div class="mb-3 account-inp">
                            <input type="text" name="full_name" placeholder="Update Full Name" autocomplete="off" autofocus><br>
                            <input type="file" name="profile_picture"><br>
                        </div>
                        <input type="submit" value="Update profile">
                    </form>
                </div>

            {% endif %}
        </div>


    
{% endblock %}