{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block main %}
    <h2>Exercises</h2>
    {% if session["user_type"] == "client" %}
        <label>Choose a muscle group:</label>
    {% else %}
        <label>Create a training plan</label> <br>
        <label>Choose a muscle group:</label>
            <ol id="trainig-plan-tracking">

            </ol>
            <div id="sell-routine-btn">

            </div>
    {% endif %}
        <form action="/api/exercises" method="post" id="pick_muscle_group" onchange="listExercises()">
        <select name="muscle_group" id="exercises">
            <optgroup label="Legs">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="abductors">Abductors</option>
                <option value="adductors">Adductors</option>
                <option value="calves">Calves</option>
                <option value="glutes">Glutes</option>
                <option value="hamstrings">Hamstrings</option>
                <option value="quadriceps">Quadriceps</option>
            </optgroup>
            <optgroup label="Arms">
                <option value="biceps">Biceps</option>
                <option value="forearms">Forearms</option>
                <option value="triceps">Triceps</option> 
            </optgroup>
            <optgroup label="Upper Body">
                <option value="abdominals">Abdominals</option>
                <option value="chest">Chest</option>
                <option value="lats">Lats</option>
                <option value="lower_back">Lower Back</option>
                <option value="middle_back">Middle Back</option>
                <option value="neck">Neck</option>
                <option value="traps">Traps</option>
                <option value="neck">Neck</option>
            </optgroup>          
          </select>
        </form>
    <div id="exercise_muscle_type"></div>
    <div id="exercise_cards">

    </div>
{% endblock %}