{% extends "layout.html" %}

{% block title %}
    Trainers
{% endblock %}

{% block main %}
    <div class="main-wrapper">
        <div class="home-follow" id="trainersContainer">
            {% if trainers %}
    
            {% for trainer in trainers %}
                <div class="trainer-card">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename=trainer.profile_picture ) }}" alt="Profile picture" class="home-follow-image">
                    </div>
                    <div class="main-follow-handles">
                        <h6 class="card-title"><b>{{ trainer.full_name}}</b></h6>
                        <p>@{{ trainer.username }}</p>
                    </div>
                    <form action="/home" method="post" class="acc-form">
                        <input type="hidden" name="id" value="{{ trainer.id }}">
                        <button type="submit" class="btn home-follow-btn">Follow</button>
                    </form>
                       
                </div>
            {% endfor %}
            {% if show_more %}
                <button id="show-more-btn" onclick="fetchTrainers()"><b>Show More</b></button>
            {% endif %}
                
        {% else %}
            <h3>Sorry, there are no trainers currently registered!</h3>
        {% endif %}
    
        </div>
    
        <div class="home-main" id="main-content">

            {% if session["user_type"] == "trainer" %}
                <div class="trainer-post-header">
                    <h5><b>Post something:</b></h5>
                    <form id="postForm">
                        <textarea name="content" id="content" placeholder="What's on your mind?" maxlength="150" ></textarea>
                        <button type="submit" id="trainer-post-btn">Post</button>
                    </form>
                </div>
            {% endif %}

            <div id="main-posts">
                
                {% if not posts and session["user_type"] == "client" %}
                    <h5>Sorry, no available posts</h5>
                {% endif %}

                {% for post in posts %}
                    <div class="card home-trainer-post" id="{{ post.id }}">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <img src="{{ url_for('static', filename=post.profile_picture ) }}" alt="Profile Picture" alt="a" class="card-img">
                            </div>
                            <div class="col-md-10">
                                <div class="post-card-content">
                                    <h5 class="card-title"><b>@{{ post.username }}</b></h5>
                                    <p class="card-text">{{ post.post_content }}</p>
                                </div>

                                {% if post.trainer_id == session["user_id"] %}
                                    <div class="manage-post">
                                        <button class="mng-post-icon" id ="deleteBtn" onclick="delete_post('{{ post.id }}')"><span class="material-symbols-outlined">close</span></button>
                                        <button class="mng-post-icon" id="editBtn" onclick="editPost('{{ post.id }}')"><span class="material-symbols-outlined">edit</span></button>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}