{% extends "layout.html" %}

{% block title %}
    Trainers
{% endblock %}

{% block main %}
    <div class="main-wrapper">
        <div class="home-follow" id="trainersContainer">
            {% if trainers %}
    
            {% for trainer in trainers %}
                <div class="trainer-card">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename=trainer.profile_picture ) }}" alt="Profile picture" class="home-follow-image">
                    </div>
                    <div class="main-follow-handles">
                        <h6 class="card-title"><b>{{ trainer.full_name}}</b></h6>
                        <p>@{{ trainer.username }}</p>
                    </div>
                    <form action="/home" method="post" class="acc-form">
                        <input type="hidden" name="id" value="{{ trainer.id }}">
                        <button type="submit" class="btn home-follow-btn">Follow</button>
                    </form>
                       
                </div>
            {% endfor %}
            {% if show_more %}
                <button id="show-more-btn">Show More</button>
            {% endif %}
                
        {% else %}
            <h3>Sorry, there are no trainers currently registered!</h3>
        {% endif %}
    
        </div>
    
        <div class="home-main" id="main-content">
            {% if session["user_type"] == "trainer" %}
            
                <h2>Post a training plan for your followers:</h2>
                <form id="postForm">
                    <textarea name="content" id="content" placeholder="Write your training plan here..."></textarea>
                    <button type="submit">Post</button>
                </form>

            {% endif %}
            <div id="main-posts">
                {% for post in posts %}
                    <div class="card home-trainer-post">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <img src="{{ url_for('static', filename=post.profile_picture ) }}" alt="Profile Picture" alt="a" class="card-img">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">@{{ post.username }}</h5>
                                    <p class="card-text">{{ post.post_content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}