{% extends "layout.html" %}

{% block title %}
    Trainers
{% endblock %}

{% block main %}
    <div class="main-wrapper">
        <div class="home-follow" id="trainersContainer">
            {% if trainers %}
    
            {% for trainer in trainers %}
                <div class="trainer-card">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename=trainer.profile_picture ) }}" alt="Profile picture" class="home-follow-image">
                    </div>
                    <div class="main-follow-handles">
                        <h6 class="card-title"><b>{{ trainer.full_name}}</b></h6>
                        <p>@{{ trainer.username }}</p>
                    </div>
                    <form action="/home" method="post" class="acc-form">
                        <input type="hidden" name="id" value="{{ trainer.id }}">
                        <button type="submit" class="btn home-follow-btn">Follow</button>
                    </form>
                       
                </div>
            {% endfor %}
            {% if show_more %}
                <button id="show-more-btn">Show More</button>
            {% endif %}
                
        {% else %}
            <h3>Sorry, there are no trainers currently registered!</h3>
        {% endif %}
    
        </div>
    
        <div class="home-main">
            {% if session["user_type"] == "trainer" %}
            
                <h2>Post a training plan for your followers:</h2>
                <form id="postForm">
                    <textarea name="content" id="content" placeholder="Write your training plan here..."></textarea>
                    <button type="submit">Post</button>
                </form>

            {% endif %}
        </div>
    </div>



{% endblock %}