{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form action="/register" method="post">
        <div>
            <input id="username" name="username" autocomplete="off" autofocus type="text" placeholder="Username">
        </div>
        <div>
            <input id="password" name="password" autocomplete="off" autofocus type="password" placeholder="Password">
        </div>
        <div>
            <input id="confirmation" name="confirmation" autocomplete="off" autofocus type="password" placeholder="Confirm Password">
        </div>
        <div>
            <p>Register as:</p>
            <input type="radio" id="trainer" value="Trainer" name="reg-type">
            <label for="trainer">Trainer</label><br>

            <input type="radio" id="client" value="Client" name="reg-type">
            <label for="trainer">Client</label><br>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>

{% endblock %}