{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Shop</h2>
                <h3>Available training plans for sale:</h3>
            </div>
        </div>

        <div class="row">
            <div class="finances col-sm-2 p-2">
                <h6>Your balance:</h6>
                <p>{{ balance }}</p>

                {% if session["user_type"] == "client" %}
                    <button onclick="balanceWindow()" id="add-balance-btn" class="btn btn-primary">Add balance</button>
                {% endif %}
            </div>
        </div>
    </div>   
    

    <div class="shop-routine-cards">

        {% for routine in routines %}

        <div class="container d-flex justify-content-center routine-card">

            <div class="d-flex align-items-center r-card-content">

                <div class="image">
                    <h3>{{ routine.name }}</h3>
                    <img src="{{ url_for('static', filename=routine.profile_picture ) }}" class="rounded" width="155" >
                </div>

                <div class="ml-3 w-100">
                    
                    <h4 class="mb-0 mt-0">{{ routine.full_name }}</h4>
                    <p>${{ routine.price }}.00</p>
                    <p>{{ routine.description }}</p>
                </div>
                {% if session["user_type"] == "client" %}

                    <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-success w-100 ml-2" onclick="buyRoutine('{{ routine.id }}')">Buy</button> 
                    </div>

                {% endif %}
            </div>

        </div>

        {% endfor %}
    </div>
{% endblock %}